<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="set" id="piano">
                <div class="key white" data-note="C1" data-notev="24"><div class="note1">C1</div></div>
                <div class="key black" data-note="C#1" data-notev="25"><div class="note">C#1<br>D&#9837;1</div></div>
                <div class="key white d" data-note="D1" data-notev="26"><div class="note">D1</div></div>
                <div class="key black" data-note="D#1" data-notev="27"><div class="note">D#1<br>E&#9837;1</div></div>
                <div class="key white c" data-note="E1" data-notev="28"><div class="note">E1</div></div>
                <div class="key white b" data-note="F1" data-notev="29"><div class="note">F1</div></div>
                <div class="key black" data-note="F#1" data-notev="30"><div class="note">F#1<br>G&#9837;1</div></div>
                <div class="key white a" data-note="G1" data-notev="31"><div class="note">G1</div></div>
                <div class="key black" data-note="G#1" data-notev="32"><div class="note">G#1<br>A&#9837;1</div></div>
                <div class="key white g" data-note="A1" data-notev="33"><div class="note">A1</div></div>
                <div class="key black" data-note="A#1" data-notev="34"><div class="note">A#1<br>B&#9837;1</div></div>
                <div class="key white f" data-note="B1" data-notev="35"><div class="note">B1</div></div>
            
                <div class="key white" data-note="C2" data-notev="36"><div class="note1">C2</div></div>
                <div class="key black" data-note="C#2" data-notev="37"><div class="note">C#2<br>D&#9837;2</div></div>
                <div class="key white d" data-note="D2" data-notev="38"><div class="note">D2</div></div>
                <div class="key black" data-note="D#2" data-notev="39"><div class="note">D#2<br>E&#9837;2</div></div>
                <div class="key white c" data-note="E2" data-notev="40"><div class="note">E2</div></div>
                <div class="key white b" data-note="F2" data-notev="41"><div class="note">F2</div></div>
                <div class="key black" data-note="F#2" data-notev="42"><div class="note">F#2<br>G&#9837;2</div></div>
                <div class="key white a" data-note="G2" data-notev="43"><div class="note">G2</div></div>
                <div class="key black" data-note="G#2" data-notev="44"><div class="note">G#2<br>A&#9837;2</div></div>
                <div class="key white g" data-note="A2" data-notev="45"><div class="note">A2</div></div>
                <div class="key black" data-note="A#2" data-notev="46"><div class="note">A#2<br>B&#9837;2</div></div>
                <div class="key white f" data-note="B2" data-notev="47"><div class="note">B2</div></div>
            
                <div class="key white" data-note="C3" data-notev="48"><div class="note1">C3</div></div>
                <div class="key black" data-note="C#3" data-notev="49"><div class="note">C#3<br>D&#9837;3</div></div>
                <div class="key white d" data-note="D3" data-notev="50"><div class="note">D3</div></div>
                <div class="key black" data-note="D#3" data-notev="51"><div class="note">D#3<br>E&#9837;3</div></div>
                <div class="key white c" data-note="E3" data-notev="52"><div class="note">E3</div></div>
                <div class="key white b" data-note="F3" data-notev="53"><div class="note">F3</div></div>
                <div class="key black" data-note="F#3" data-notev="54"><div class="note">F#3<br>G&#9837;3</div></div>
                <div class="key white a" data-note="G3" data-notev="55"><div class="note">G3</div></div>
                <div class="key black" data-note="G#3" data-notev="56"><div class="note">G#3<br>A&#9837;3</div></div>
                <div class="key white g" data-note="A3" data-notev="57"><div class="note">A3</div></div>
                <div class="key black" data-note="A#3" data-notev="58"><div class="note">A#3<br>B&#9837;3</div></div>
                <div class="key white f" data-note="B3" data-notev="59"><div class="note">B3</div></div>
            
                <div class="key white" data-note="C4" data-notev="60"><div class="note1">C4</div></div>
                <div class="key black" data-note="C#4" data-notev="61"><div class="note">C#4<br>D&#9837;4</div></div>
                <div class="key white d" data-note="D4" data-notev="62"><div class="note">D4</div></div>
                <div class="key black" data-note="D#4" data-notev="63"><div class="note">D#4<br>E&#9837;4</div></div>
                <div class="key white c" data-note="E4" data-notev="64"><div class="note">E4</div></div>
                <div class="key white b" data-note="F4" data-notev="65"><div class="note">F4</div></div>
                <div class="key black" data-note="F#4" data-notev="66"><div class="note">F#4<br>G&#9837;4</div></div>
                <div class="key white a" data-note="G4" data-notev="67"><div class="note">G4</div></div>
                <div class="key black" data-note="G#4" data-notev="68"><div class="note">G#4<br>A&#9837;4</div></div>
                <div class="key white g" data-note="A4" data-notev="69"><div class="note">A4</div></div>
                <div class="key black" data-note="A#4" data-notev="70"><div class="note">A#4<br>B&#9837;4</div></div>
                <div class="key white f" data-note="B4" data-notev="71"><div class="note">B4</div></div>
            
                <div class="key white" data-note="C5" data-notev="72"><div class="note1">C5</div></div>
                <div class="key black" data-note="C#5" data-notev="73"><div class="note">C#5<br>D&#9837;5</div></div>
                <div class="key white d" data-note="D5" data-notev="74"><div class="note">D5</div></div>
                <div class="key black" data-note="D#5" data-notev="75"><div class="note">D#5<br>E&#9837;5</div></div>
                <div class="key white c" data-note="E5" data-notev="76"><div class="note">E5</div></div>
                <div class="key white b" data-note="F5" data-notev="77"><div class="note">F5</div></div>
                <div class="key black" data-note="F#5" data-notev="78"><div class="note">F#5<br>G&#9837;5</div></div>
                <div class="key white a" data-note="G5" data-notev="79"><div class="note">G5</div></div>
                <div class="key black" data-note="G#5" data-notev="80"><div class="note">G#5<br>A&#9837;5</div></div>
                <div class="key white g" data-note="A5" data-notev="81"><div class="note">A5</div></div>
                <div class="key black" data-note="A#5" data-notev="82"><div class="note">A#5<br>B&#9837;5</div></div>
                <div class="key white f" data-note="B5" data-notev="83"><div class="note">B5</div></div>
            
                <div class="key white" data-note="C6" data-notev="84"><div class="note1">C6</div></div>
                <div class="key black" data-note="C#6" data-notev="85"><div class="note">C#6<br>D&#9837;6</div></div>
                <div class="key white d" data-note="D6" data-notev="86"><div class="note">D6</div></div>
                <div class="key black" data-note="D#6" data-notev="87"><div class="note">D#6<br>E&#9837;6</div></div>
                <div class="key white c" data-note="E6" data-notev="88"><div class="note">E6</div></div>
                <div class="key white b" data-note="F6" data-notev="89"><div class="note">F6</div></div>
                <div class="key black" data-note="F#6" data-notev="90"><div class="note">F#6<br>G&#9837;6</div></div>
                <div class="key white a" data-note="G6" data-notev="91"><div class="note">G6</div></div>
                <div class="key black" data-note="G#6" data-notev="92"><div class="note">G#6<br>A&#9837;6</div></div>
                <div class="key white g" data-note="A6" data-notev="93"><div class="note">A6</div></div>
                <div class="key black" data-note="A#6" data-notev="94"><div class="note">A#6<br>B&#9837;6</div></div>
                <div class="key white f" data-note="B6" data-notev="95"><div class="note">B6</div></div>
            
                <div class="key white" data-note="C7" data-notev="96"><div class="note1">C7</div></div>
                <div class="key black" data-note="C#7" data-notev="97"><div class="note">C#7<br>D&#9837;7</div></div>
                <div class="key white d" data-note="D7" data-notev="98"><div class="note">D7</div></div>
                <div class="key black" data-note="D#7" data-notev="99"><div class="note">D#7<br>E&#9837;7</div></div>
                <div class="key white c" data-note="E7" data-notev="100"><div class="note">E7</div></div>
                <div class="key white b" data-note="F7" data-notev="101"><div class="note">F7</div></div>
                <div class="key black" data-note="F#7" data-notev="102"><div class="note">F#7<br>G&#9837;7</div></div>
                <div class="key white a" data-note="G7" data-notev="103"><div class="note">G7</div></div>
                <div class="key black" data-note="G#7" data-notev="104"><div class="note">G#7<br>A&#9837;7</div></div>
                <div class="key white g" data-note="A7" data-notev="105"><div class="note">A7</div></div>
                <div class="key black" data-note="A#7" data-notev="106"><div class="note">A#7<br>B&#9837;7</div></div>
                <div class="key white f" data-note="B7" data-notev="107"><div class="note">B7</div></div>
            </div>
        </div>
    </div>
</div>